html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.calendar-wrapper {
  height: 100%;
}

.react-calendar {
  height: 100%;
  width: 100%;
}

.react-calendar__tile {
  height: calc(100% / 6);
}
